---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
.post-list-heading {
  display: none; }
  
.post-meta {
  display: none; }
  
.footer-heading {
  display: none; }
  
.post-link {
  background: #dedede; }
  
.post-title {
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 26px; } }

.site-title {
  font-weight: 600; }
